body {
  font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: medium;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  opacity: 1.0;
  min-width: 1280px; min-height: 720px; /* laptop screen */
}

* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}
.display-inline-block {
  display: inline-block;
}

#page {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0.4%;
}

#top_panel {
  position: relative;
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  padding: 0.5% 0.2%;
  margin: 0;
  background-color: #F5F5F5;
}

#middle_panel {
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border: 1px solid #9E9E9E;
  overflow: hidden;
  width: 100%;
}
#middle_panel .row {
  display: table-row;
  margin: 0;
  padding: 0;
}
#middle_panel .cell {
  display: table-cell;
  margin: 0;
  padding: 0.2% 0;
  width: 48%;
  border: 1px solid #9E9E9E;
  text-align: center;
  vertical-align: middle;
}
.horizontal_ref_line {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
}

/* base panel */
#left_panel {
  text-align: right !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle;
}
#left_panel_content { /* container for via or base image */
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70vh;
}
#left_panel_img img {
  max-width: 100%;
}

/* comp panel */
#right_panel {
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle;
}
#right_panel_content { /* container for via or comp image */
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70vh;
}
#right_panel img {
  max-width: 100%;
}
.img_label {
  font-size: medium;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img_label select {
  max-width: 80%; /* squash large filenames */
}

.centered_text {
  text-align: center;
}
.img_control {
  overflow: scroll;
}
.vertical_img_separator_panel {
  width: 0.8% !important;
  min-width: 0.5% !important;
  max-width: 1% !important;
}
.button_group {
  display: block;
}
.button_group_space1 {
  display: inline-block;
  width: 2%;
}

.img_upload_status {
  display: inline-block;
  font-size: large;
  cursor: default;
}

#message_panel {
  font-size: small;
  font-family: mono;
  color: #0066FF;
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1% 1%;
  margin: 0;
}


