/*

CSS for Image Comparator

Author : Abhishek Dutta <adutta@robots.ox.ac.uk>
08 August 2017

Indigo Theme (see https://material.io/guidelines/style/color.html#color-color-palette)
500  #3f51b5

50   #e8eaf6
100  #c5cae9 (Primary lighter tone)
200  #9fa8da
300  #7986cb
400  #5c6bc0
500  #3f51b5 (Primary)
600  #3949ab
700  #303f9f (Primary darker tone)
800  #283593
900  #1a237e

Choose secondary (A???) from Pink, Blue gray, etc
A100 #ff80ab
A200 #ff4081
A400 #f50057
A700 #c51162


Text : #FFFFFF
  Primary text       = #ffffff
  Secondary text     = #eeeeee
  Disabled/hint text = #757575
  Dividers           = #424242
  Highlighted        = #5599ff

Text size:
  Primary text  : 1rem (main menu, toolgroup title, etc)
  Button text   : 0.8rem
  Secondary text: 0.7rem (status message, filename, etc)

z-index
  Navigation menu bar (always on-top) : 1000;
*/

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: medium;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  opacity: 1.0;
  /*min-width: 800px; min-height: 600px;*/
}

a {
  color: #5599ff;
  text-decoration: none;
}

.display-none {
  display: none;
}
.display-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}

/* Select files panel */
.select_files_panel {
  position: relative;
  width: 98.5%;
  height: 88vh;
  text-align: center;
}
.select_files_panel h1 {
  display: table-caption;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.select_files_panel .version a {
  font-size: 0.8rem;
  color: blue;
}

.select_files_panel .button {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin: 4rem 0;
  background-color: #3f51b5;
  color: #ffffff;
  border: 1px solid #303f9f;
  font-size: 0.8rem;
}
.select_files_panel .button:hover {
  background-color: #303f9f;
  cursor: pointer;
}
.select_files_panel .button:active {
  background-color: #000000;
  cursor: pointer;
}


/*
  Compare Panel (i.e. full window) divided into 3 columns
    image_panel | compare_result_panel | image_panel
*/
.compare_panel {
  position: relative;
  width: 99%;
  /*height: 98vh;*/
  margin: 0.5rem 0.5rem;
  padding: 0;
}

.compare_panel .image_panel {
  display: table-cell;
  width: 30%;
  border: 1px solid #303f9f;
  margin: 0;
  padding: 0;
}

.compare_panel .compare_result_panel {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding: 0 1rem;
}

/* Image Panel */
.compare_panel .image_panel .contents {
  display: table;
  width: 100%;
}
.compare_panel .image_panel .contents select {
  display: table-row;
  width: 100%;
}
.compare_panel .image_panel .contents .user_image {
  position: relative;
  display: inline-block;
  width: 99%;
  overflow: auto;
  height: 85vh;
}

/* Compare result panel */
.compare_panel .compare_result_panel img {
  width: 99%;
}

/* Toolbox */
.toolbox {
  display: table;
  font-size: 0.8rem;
  margin: auto;
  padding: 0 0 0.5rem 0;
}
.toolbox ul {
  display: table-row;
  list-style-type: none;
}
.toolbox ul select {
  display: table-cell;
}
.toolbox ul input {
  display: table-cell;
}
.toolbox ul li {
  display: table-cell;
  padding: 0.2rem 1rem;
  border: 1px solid #283593;
  background-color: #303f9f;
  color: #ffffff;
}
/* to show that a button click action is ongoing */
.button_action_ongoing {
  animation: animate_color 1s infinite;
}
@keyframes animate_color {
 0% { background-color: #303f9f; }
 50% { background-color: #5599ff; }
 100% { background-color: #303f9f; }
}
@-webkit-keyframes animate_color {
 0% { background-color: #303f9f; }
 50% { background-color: #5599ff; }
 100% { background-color: #303f9f; }
}

.toolbox ul li:hover {
  background-color: #5599ff;
  cursor: pointer;
}
.toolbox ul li:active {
  background-color: #303f9f;
}
.toolbox ul li.pressed {
  background-color: #5599ff;
}
.toolbox ul li.pressed:hover {
  cursor: default;
}
.toolbox ul li.disabled {
  color: #808080;
}
.toolbox ul li.disabled:hover {
  cursor: default;
  background-color: #303f9f;
}

/* Toolbar (placed above each image) */
.toolbar {
  display: table-row;
  width: 100%;
  background-color:#303f9f;
}

.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toolbar ul li {
  display: table-cell;
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
  color: #ffffff;
}
.toolbar ul li svg { /* button icon */
  stroke: #ffffff;
  fill: none;
}

.toolbar ul li svg:hover {
  stroke: #000000;
}
.toolbar ul li:hover {
  cursor: pointer;
}

.toolbar ul li svg:active {
  stroke: #ffffff;
}

/* Message Panel */
.message_panel {
  display: block;
  font-size: 0.8rem;
  color: #4d4d4d;
  padding: 1rem 0;
  text-align: center;
  text-overflow: ellipsis; /* extra text is replaced by ... */
  white-space: nowrap;
  overflow: hidden;
}
.message_panel .highlight {
  color: red;
}
